<ion-header>
    <ion-toolbar>
        <ion-title>{{ selectedPlace.title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button type="button" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onBook()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">First Name</ion-label>
                            <ion-input type="text" autocomplete autocorrect formControlName="firstName"></ion-input>
                        </ion-item>
                        <span
                            class="error ion-padding"
                            *ngIf="formControl.firstName.errors?.required && formControl.firstName.touched"
                        >
                            First Name is required.
                        </span>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Last Name</ion-label>
                            <ion-input formControlName="lastName"></ion-input>
                        </ion-item>
                        <span
                            class="error ion-padding"
                            *ngIf="formControl.lastName.errors?.required && formControl.lastName.touched"
                        >
                            Last Name is required.
                        </span>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label>Number of Guests</ion-label>
                            <ion-select formControlName="guestNumber">
                                <ion-select-option value="1">1</ion-select-option>
                                <ion-select-option value="2">2</ion-select-option>
                                <ion-select-option value="3">3</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <span
                            class="error ion-padding"
                            *ngIf="formControl.guestNumber.errors?.required && formControl.guestNumber.touched"
                        >
                            Guset number is required.
                        </span>
                        <span
                            class="error ion-padding"
                            *ngIf="formControl.guestNumber.errors?.min && formControl.guestNumber.touched"
                        >
                            Guset number must be greater than 1
                        </span>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Available from</ion-label>
                            <ion-datetime formControlName="dateFrom"></ion-datetime>
                        </ion-item>
                        <span
                            class="error"
                            *ngIf="formControl.dateFrom.errors?.required && formControl.dateFrom.touched"
                        >
                            Date is required.
                        </span>
                    </ion-list>
                </ion-col>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">Available to</ion-label>
                            <ion-datetime formControlName="dateTo"></ion-datetime>
                        </ion-item>
                        <span class="error" *ngIf="formControl.dateTo.errors?.required && formControl.dateTo.touched">
                            Date is required.
                        </span>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="4" offset-sm="3">
                    <span class="error" *ngIf="!dateValid()"> to date must be greater than from date</span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button color="primary" expand="block" type="submit" [disabled]="!form.valid || !dateValid()"
            >Book!</ion-button
        >
    </form>
</ion-content>
